.crypto_container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.logo {
    width: 30px;
}

table {
    width: 100%;
    margin: 50px 0px;
    border-spacing: 15px;
    color: white;
}

th {
    width: auto;
    text-align: left;
    font-size: 20px;
}

td {
    font-size: 18px;
    color: rgb(206, 206, 206);
}

@media screen and (max-width:600px) {
    
    th{
        font-size: 17px;
    }
    td {
        color: rgb(209, 209, 209);
        font-size: 15px;
    }
}